*{
    background-color: rgb(213, 228, 255);
}

#word{
    display: block;
    width: 4rem;
    margin: auto;
    margin-top: 9rem;
    color:rgb(125, 170, 255);
}

.boton{
    display:block;
    width: 5rem;
    height: 5rem;
    margin: auto;
    margin-top: 2rem;
    padding: 90px;
    border-radius: 100%;
    background-color: rgb(168, 198, 255);
}

.boton:active{
    transform:scale(0.7);
    background-color: rgb(87, 146, 255);
}

.boton:hover{
    background-color: rgb(116, 165, 255);
}